<div class="container">
  <aside>
    <div class="filter-categoria">
      <app-search [homePage]="homePage"></app-search>
      <mat-paginator [pageIndex]="pageEvent?.pageIndex "
                     [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = nextOrPrevious($event)">
      </mat-paginator>
    </div>
  </aside>
  <div class="content">
    <app-card-list [typeDialogContet]="homePage" [data]="states?.results || []" style="width: 100%; height: 100%"></app-card-list>
  </div>
</div>
