.container{
  position: relative;
  display: flex;
  align-items:stretch;
}

aside{
  display: flex;
  width: 40%;
}

.content {
  padding: 10px;
  width: 100%;
}

.filter-categoria{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.full-width{
  width: 100%;
}
